.looks{
    width:1cm;
    height: 1.6cm;
    background-color: transparent;

}
.Option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

input[type='radio']{
    background-color: transparent;
    padding: 0.9em;
    margin: 8% 7%;
    border: 0;
    width: 1.2em;
    accent-color: rgb(0, 0, 0);
    cursor: pointer;

}

@media (min-width: 1300px) {

    .looks{
        width:6.5cm;
        height:10.4cm;
        background-color: transparent;
    
    }

    input[type='radio']{
        background-color: transparent;
        margin: 8% 7%;
        border: 0;
        width: 24px;
        height: 24px;
        accent-color: rgb(0, 0, 0);
        cursor: pointer;
    
    }
    
}