.App {
  text-align: center;
  background-color:#e5d3bf;
  padding: 0 0 30px 0;
}
button{
  margin: 30px;
  padding: 10px 40px;
}
.User{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
html{
  scroll-behavior: smooth;
}

